@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */
.display-flex{
    display: flex;
}
/* dark 02 */
.text-gray{
    color: #8987A1;   
}

/* dark03 */
.text-light-gray{
    color: rgba(0, 0, 0, 0.51);
}
/* dark04 */
.text-light{
    color: black;
}

/* header styles */
.colorful {
    color: #E95A08;
}


/* navbar style */
.nav-item{
    list-style: none;
    margin-right: 30px;
   
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}
/* Mobile responsive */
@media (max-width: 768px) { .nav-links li:not(.cart){
    display: none;
}
     .cart {
        display: flex;
        align-items: center;
     }
}
/* Banner Section */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 30px;
    gap: 40px;
    flex-wrap: wrap;
    text-align: right;

}
.banner-content {
    flex: 1;
    min-height: 280px;

}
.banner-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: right;
}
.banner-content p {
    font-size: 18px;
    margin-bottom: 20px;

}
.banner-image {
    flex: 1;
    min-width: 500px;
    text-align: center;

}
.banner-image img {
    width: 100%;
    max-width: 500px;
}

/* mobile responsive */
@media ( max-width: 768px) {
    .banner {
        flex-direction: column;
        text-align: left;
        padding: 20px;
   }
   .banner-content h1 {
    font-size: 28px;
   }
   .banner-content p {
    font-size: 16px;
   }
   .banner-image {
    text-align: center;
   }
}

/* plants section */
.plants {
    padding: 60px 30px;
    background-color: #FFFFFF;
    max-width: 1140px;

}
.section-header {
    text-align: center;
    margin-bottom: 40px;
}
.section-header h2 {
    font-size: 32px;
    color: black;
}
.section-header p {
    font-size: 16px;
    margin-top: 8px;   
}
/* grid layout */
.plant-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1140px;
    margin:0, auto;
}
.plant-card {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 10px #E95A08;
}
.plant-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;

}
.plant-card h3 {
    font-size: 18px;
    color: #eee;
    margin-bottom: 5px;
}
.plant-card .price {
    color:black;
    font-weight: bold;
    margin-bottom: 10px;
}
.plant-card button {
    background-color: #E95A08;
    color: #eee;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

/* Mobile responsive */
@media (max-width: 768px) {
    .plant-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* plants lover section */
.plants-lover { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 60px 30px;
    flex-wrap: wrap;
    max-width: 1140px;
}
.lover-image {
    flex: 1;
    text-align: center;
}
.lover-image img {
    width: 100%;
    max-width: 500px;
}
.lover-content {
    flex: 1;
    max-width: 540px;

}
.lover-content h2 {
    font-size: 50px;
    margin-top: 5px;
}
.lover-content ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 16px;
}
.lover-content li {
    margin-bottom: 10px;
} 
/* latest deals */
.latest-deasls  {
    padding: 60px 30px;
    text-align: center;
    justify-content: center;
}
.deals-title {
    font-size: 28px;
    margin-bottom: 10px;
    justify-content: center;
}
.deals-subtitle {
    max-width: 650px;
    margin: 0 auto 40px;
    font-size: 16px;  
}
.deals-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.left-deals {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 30%;
}
.deal-card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    height: 180px;
}
.deal-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.deal-card.large {
    flex: 1 1 60%;
    height: 380px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   
}
.overlay h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.overlay button {
    background-color:
    color: #e91e63;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}
/* moblie responsiveness */
@media (max-width: 576px) {
    .deals-grid {
        flex-direction: column;   
    }
    .left-deals {
        flex-direction: column;
    }
    .deal-card.large {
        height: 200px;
    }
    .overlay h3 {
        font-size: 16px;

    }
    .overlay button {
        font-size: 14px;
    }
}
 /* footer */
 .footer {
    background-color: #FFFFFF;
    padding: 40px 20px;
    color: #333;
 }
 .footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: auto;
    gap: 30px;
 }
 .footer-left {
    flex: 1 1 250px;
 }
 .footer-left img.footer-logo {
    height: 40px;
    margin-bottom: 10px;
 }
 .footer-left p{
    font-size: 14px;
    line-height: 1.6;
 }
 .footer-links {
    flex: 1 1 200px;
 }
 .footer-links ul {
    list-style: none;
    padding: 0;
 }
 .footer-links ul li {
    margin-bottom: 8px;
 }
 ..footer-links ul li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
 }
 .social-icons {
    margin-top: 10px;
 }
 .social-icons a {
    display: inline-block;
    margin-right: 10px;
 }
 .social-icons img {
    height: 24px;

 }
/* Mobile responsive */
@media ( max-width: 576px)
